{% extends 'movies.html' %}
<!-- {% load static %} -->

{% block content %}
		<main class="content">
			<section class="panel">
                <form method="POST">
                    {% csrf_token %}
                    <input name="year_of_production" type="checkbox" value="year_of_production" style="margin-left: 22px;">
                    <button class="btn btn-primary" type="submit" name="order">Order_by_Popularity</button>
                </form>
                <br><br>
                <h2>Recently Added</h2>
				<div class="recentslider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							{% for movie in object_list %}

							    <div class="swiper-slide"><a href="{% url 'movie_detail' movie.slug %}">
                                    <img src="{{movie.image}}">
                                    <h3 class="hometitle">{{movie.title}}</h3>
                                    <h2 class="hometitle2"> {{ movie.year_of_production }}</h2>
                                    </a>
                                </div>
                            {% endfor %}
							
							<div class="swiper-slide"><a href="#"><img src="{% static 'img/others.png' %}"></a></div>
						</div>
						<div class="nextdirection recent-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
						<div class="leftdirection recent-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
					</div>
				</div>
			</section>
        </main>
{% endblock %}