{% extends 'base.html' %}

{% block content %}
<div class="login-container text-c animated flipInX">
    <div>
        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
    </div>
        <p class="text-whitesmoke">Reset</p>
    <div class="container-content">
        <h3 style="color: #007bff;">Password reset</h3>

		<p style="color: red;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

		<form method="post">

			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Send email">
	
		</form>
    </div>
</div>
{% endblock %}
