{% extends 'base.html' %}

{% block content %}
<div class="login-container text-c animated flipInX">
    <div>
        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
    </div>
        <p class="text-whitesmoke">Reset</p>
    <div class="container-content">
		<h3 style="color: #007bff;">Enter new password</h3>

		<p style="color: red;">Please enter your new password twice so we can verify you typed it in correctly.</p>
		
		<form method="post">
		
			{% csrf_token %}
			{{form.as_p}}
			<input type="Submit" name="Update Password">
			
		</form>
	</div>
</div>
{% endblock %}