{% extends 'base.html' %}

{% block content %}
<div class="login-container text-c animated flipInX">
        <p class="text-whitesmoke">Sign Up</p>
    <div class="container-content">
        <form class="margin-t" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="first_name" class="form-control" placeholder="FirstName" required="">
            </div>
            <div class="form-group">
                <input type="text" name="last_name" class="form-control" placeholder="LastName" required="">
            </div>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" name="password1" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required="">
            </div>
            <button type="submit" class="form-button button-l margin-b">Sign Up</button>
        </form>
        <br>
        <p>Already registered? click the link below</p>
        <a class="text-darkyellow" href="{% url 'login2' %}" style="font-size: 20px;"><small>Sign In</small></a>
        <br>
        <p style = "color: red;">
            {{form.errors}}
        </p>
    </div>
</div>
{% endblock %}
